<%- include('./template/cabecera.ejs',{ tituloHead:'Error 404 dinamica' }) %>
    <div class="container">
        <h2>
            <%= titulo %>
        </h2>
    </div>
    <%- include('./template/footer')%>