<%- include('./template/cabecera.ejs',{ tituloHead:'Página de inicio bluuweb' }) %>

        <h1 class="text-primary">Primers Passos en Express + ejs</h1>
        <p>Título dinámico:<strong>
                <%= tituloDinamico%>
            </strong></p>
        <p>Otro título dinámico: <strong>
                <%= otroTituloDinamico%>
            </strong></p>

        <%- include('./template/footer')%>