<%- include('./template/cabecera.ejs',{ tituloHead:'Página de servicios dinamica' }) %>

        <h1 class="text-primary">
            <%=tituloDinamicoPaginaServicios%>
        </h1>
    
        <%- include('./template/footer')%>